*{
    padding: 0;
    margin: 0;
}

.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(mashle.gif);
    background-position: fixed;
    background-size: cover;
}

nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px black;
    top: 0;
    left: 0;
    right: 0;
}

nav img{
    border-radius: 50%;
    border: 4px solid black;
    margin: 4px;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-links a{
    text-decoration: none;
    color: black;
}

.nav-links{
    padding: 10px;
    font-size: 20px;
}


.grid{
    display: grid;
    grid-template-areas: "download download video";
}

.video{
    grid-area: video;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;

}
.video video{
    animation: neon 1s ease-in-out infinite alternate;
}

.download{
    grid-area: download;
    font-family: "UnifrakturMaguntia", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: yellow;
}

.download span{
    border: 1px black solid;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: lightslategray;
}

a button{
    margin: 5px auto;
    display: block;
   
}

a{
    text-decoration: none;
}

@keyframes neon {
    0% {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    50% {
        box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
    100%{
        box-shadow: 0 0 20px #fff, 0 0 30px #ce3b17, 0 0 40px #ce3b17, 0 0 50px #ce3b17, 0 0 60px #ce3b17, 0 0 70px #ce3b17, 0 0 80px #ce3b17;
    }
} 